@charset "utf-8";
@import "animations";

@import "main-menu";
@import "inner-page";

body {
  background-color: black;
}

@media screen and (max-width: 1024px) {
  .content {
    position: relative;
    top: initial;
    left: initial;
    align-items: center;

    margin: 0px;

    .menu-row {
      flex-direction: column;

      .menu-image {
        height: 75px;
        margin-bottom: 0px;

        .selector {
          display: none;
        }
      }
    }
  }
}
