/**
 * Inner Page CSS
 */

.inner-content {
  @include cross-calc(height, "100% - 16px");
  @include cross-calc(width, "100% - 16px");

  position: absolute;
  top: -100%;

  .bottom-menu {
    position: absolute;
    bottom: 8px;

    width: 100%;
    height: 125px;

    border-top: 2px solid white;

    @include flex-box();
    @include flex-direction(row);

    align-items: center;
    justify-content: center;
    text-align: center;

    .bottom-button {
      width: 100px;
      height: 100px;
      margin: 0 20px;
      color: white;
      border: 1px solid red;
    }
  }
}
